header {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left-section {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.my-picture {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 30px;
    object-fit: contain;
}

.my-name {
    margin-left: 20px;
    font-weight: 700;
    font-size: 15px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.link-about-me, .link-projects, .link-contact {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-right: 30px;

    &:hover {
        border-bottom: 1px solid #333;
    }
}

.resume-link {
    text-decoration: none;
    margin-right: 30px;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: 700;
    color: black;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    padding: 10px 15px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu-button {
    all: revert;
    padding: 13px;
    font-size: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.close-menu-button {
    all: revert;
    font-size: 30px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.nav-menu-open {
    cursor: pointer;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu-close {
    position: absolute;
    font-size: 30px;
    top: 52.8px;
    right: 40px;
    width: 48px;
    height: 48px;
}

.nav-menu-link {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
}

.nav-menu-link-about-me:hover, .nav-menu-link-projects:hover, .nav-menu-link-contact:hover {
    border-bottom: 1px solid #333;

}

@media (max-width: 750px) {
    header {
        height: 100px;
    }

    .left-section {
        width: 200px;
    }

    .right-section {
        font-size: 14px;
        font-weight: 700;
    }

    .my-picture {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
    
    .my-name {
        margin-left: 18px;
        font-size: 13px;
        white-space: nowrap;
    }

    .link-about-me, .link-projects, .link-contact {
        margin-right: 15px;
    }
}

@media (max-width: 600px) {
    .left-section {
        width: 180px;
    }
    .my-picture {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    
    .my-name {
        margin-left: 15px;
    }
    .nav-link {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}